/* Webfonts */
@import '_fonts.css';

@import 'tailwindcss/base';
@import 'tailwindcss/components';

@import '_typography.css';

@import 'tailwindcss/utilities';

body {
  @apply antialiased;
  overscroll-behavior: none!important;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
   pointer-events: none;
}

.grain {
  @apply fixed inset-0 w-full h-full overflow-hidden z-[99999] opacity-[0.022] bg-repeat pointer-events-none;
  background-image: url("/images/grain.gif");
  background-position: 100% 100%;
  background-size: 480px;
}

@supports  (height: 100dvh) {
  .h-screen {
    height: 100dvh;
  }
  .min-h-screen {
    min-height: 100dvh;
  }
}

_:-ms-lang(x), .ms-text-adjust {
  @apply mb-[-2.5%];
}